.header {
  height: 100vh;
  // height: calc(100vh + 60px);
  display: grid;
  grid-template-columns: 5fr minmax(240px, 32fr) 45fr 13fr 5fr;
  grid-template-rows: 200px 1fr;
  grid-column-gap: 5.6rem;
  grid-template-areas:
    ". logo nav config ."
    ". title slider slider slider";
  @media (max-width: 1175px) {
    grid-template-rows: 100px 100px 1fr;
    grid-template-areas:
      ". logo config config ."
      ". nav nav nav ."
      ". title slider slider slider";
  }
  @media (max-width: 720px) {
    grid-template-columns: 5fr minmax(200px, 32fr) 45fr 13fr 5fr;

    grid-template-rows: 100px 100px 2fr minmax(180px, 3fr);
    grid-template-areas:
      ". logo logo logo ."
      ". nav config  config ."
      ". title title title ."
      " . slider slider slider .";
    &__nav {
      // position: relative;
      // left: -200%;
      & > ul > li:not(:nth-of-type(2)) {
        display: none;
      }
      & .header__nav__list__shop__dropdown {
        height: 600px;
      }
    }
    &__config {
      justify-content: flex-end;
    }
    &__title {
      grid-area: title;
      display: flex;
      justify-content: flex-start;

      &__spacer {
        display: none;
      }
      &__wrap {
        flex-basis: 1fr;
        & h1 {
          @include fontSize(35);
        }
        & h2 {
          display: none;
        }
        & h3 {
          @include fontSize(18);
        }
        &__view-more span {
          display: none !important;
        }
        &__view-more > a {
          top: 1rem !important;
        }
      }
    }
    &__slider {
      flex-shrink: 2;
    }
  }
  // @media (max-width: 560px) {
  //   grid-template-rows: 100px 100px 1fr 1fr;
  //   grid-template-areas:
  //     ". logo logo logo ."
  //     ". nav config  config ."
  //     ". title title title ."
  //     " . slider slider slider .";
  // &__nav {
  //   // position: relative;
  //   // left: -200%;
  //   & > ul > li:not(:nth-of-type(2)) {
  //     display: none;
  //   }
  //   & .header__nav__list__shop__dropdown {
  //     height: 600px;
  //   }
  // }
  // &__config {
  //   justify-content: flex-end;
  // }
  // }

  &__logo {
    align-self: center;
    grid-area: logo;
  }

  &__nav {
    align-self: center;
    grid-area: nav;

    &__list {
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 0;

      & li,
      & li label {
        align-self: center;
        display: inline-block;
        @include fontSize(22);
        color: #333333;
        cursor: pointer;
        &:not(:first-child):not(:last-child) {
          margin: 0 1rem;
        }
        & a {
          text-decoration: none;
          @extend li;
          &.active,
          &:hover,
          & label:hover {
            color: #888888;
            border-bottom: 2px solid $contrast;
          }
        }
      }
      &__shop {
        padding: 100px 0;
        &__dropdown {
          position: absolute;
          top: 200px !important;
          right: 0 !important;
          left: 0 !important;
          background: white;
          z-index: 50;
          height: 317px;
          display: none;

          &__wrapper {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            height: 100%;
            &__item {
              flex-basis: 1fr;
              min-width: 240px;
              height: 100px;
              &__title {
                @include fontSize(24);
                color: #333333;
                transform: rotate(-90deg);
                transform-origin: right top 0;
                position: relative;
                left: -100%;
                display: block;
                text-align: end;
                height: 3rem;
              }
              & ul {
                display: block;
                position: relative;
                top: -5rem;
                padding: 0;
                & li {
                  margin: 0 !important;
                  padding-left: 75px;
                  display: block;
                  & p {
                    // margin: 0;
                  }
                }
                @media (max-width: 1618px) {
                  top: -3rem;
                  & li {
                    & p {
                      margin: 0;
                    }
                  }
                }
              }
            }
            @media (max-width: 840px) {
              width: 90%;
              justify-content: center;
            }
          }
          & .close-shop-toggle {
            color: $secondary;
            position: absolute;
            right: calc(5% + 20px);
            top: 0;
            cursor: pointer;
          }
        }

        // &:hover > .header__nav__list__shop__dropdown {
        //   transition: display 0.5s ease;
        //   display: block;
        // }
      }

      & input[id="shop-toggle"] {
        display: none;
      }
      & input[id="shop-toggle"]:checked + .header__nav__list__shop__dropdown {
        display: block !important;
      }
    }
  }

  &__config {
    align-self: center;
    grid-area: config;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    height: 100%;

    &__lang {
      display: flex;
      align-self: center;
      flex-flow: row nowrap;
      flex-basis: 75px;
      justify-content: space-between;
      margin-right: 1.5rem;
      position: relative;

      & ul {
        position: absolute;
        top: 2rem;
        left: -2rem;
        background: white;
        z-index: 50;
        display: none;
        padding: 0;
        list-style: none;
        width: calc(100% + 4rem);
        padding: 2rem;
        & li {
          display: flex;
          align-self: center;
          flex-flow: row nowrap;
          flex-basis: 75px;
          justify-content: space-between;
          padding-bottom: 1rem;
          & img {
            width: 24px;
            height: 19px;
          }
        }
      }

      &:hover > ul {
        transition: display 0.5s ease;
        display: block;
      }
    }

    &__utilities {
      flex-basis: 100px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-self: center;
      padding: 0;

      position: relative;
      & li {
        display: flex;
        align-self: center;
        list-style: none;
        &:nth-child(2) {
          margin: 0 1rem;
        }
        & div {
          position: absolute;
          display: none;
          top: 2rem;
          z-index: 110;
          background: white;
          border: rgb(231, 231, 231) 1px solid;
        }
        &:hover div {
          display: block;
        }
      }
      &__search {
        & div {
          // display: block !important;
          right: calc(100% - 25px);
          width: 442px;
          padding: 4rem;
          & input[type="search"] {
            width: 100%;
            border: rgb(231, 231, 231) 1px solid;
            padding: 1rem;
            @include fontSize(16);
          }
          & input[type="submit"] {
            background: $contrast;
            color: white;
            margin-top: 3rem;
          }
        }
      }
      &__account {
        & div {
          // display: block !important;
          right: calc(0% + 3rem);
          width: 442px;
          padding: 4rem;
          & ul {
            padding: 0;
            & li {
              margin: 1rem 0 0 0 !important;
            }
          }
        }
      }
      &__bag {
        & div {
          // display: block !important;
          width: 442px;
          padding: 4rem;
          right: calc(0%);
          & a {
            color: white;
            background: #333;
            margin-right: 2rem;
            margin-bottom: 2rem;
            &:hover {
              background: $contrast;
              transition: 0.3s;
            }
          }
        }
      }
      @media (max-width: 460px) {
        & div {
          max-width: 330px;
        }
      }
    }
  }
  &__title {
    grid-area: title;
    display: flex;
    justify-content: flex-start;

    &__spacer {
      // fixed spacer to create an 160px offset between wrapper edge and title && prevent the __wrap from overlowing from __title, shrink to create a responsive collapse.
      flex-basis: 160px;
      flex-shrink: 2;
    }
    &__wrap {
      max-width: 407px;
      flex-basis: minmax(240px, 1fr);
      transition: 0.5s;

      & h2 {
        margin: 0 0 10rem 0;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -1rem;
          border-bottom: solid 2px grey;
          width: 20%;
        }
      }
      & h3 {
        margin: 0;
      }
      @media (max-width: 1360px) {
        & h3 {
          width: 300px;
        }
      }

      &__view-more {
        position: relative;
        & span {
          height: 360px;
          color: rgba(170, 170, 170, 0.219608);
          @include fontSize(500);
          letter-spacing: -53px;
          line-height: 362px;
          position: relative;
          top: 0;
          left: -24px;
          display: flex;
          font-family: "Montserrat";
        }
        & a {
          color: white;
          background: $contrast;
          position: absolute;
          letter-spacing: normal;
          top: 5rem;
          transition: top 0.5s;
          &:hover {
            color: $contrast;
            background: hsla(0, 0%, 100%, 0.685);
            border: solid 2px $contrast;
            transition: 0.3s;
          }
        }
      }
    }
  }

  &__slider {
    grid-area: slider;
    flex-basis: 2;
    background: url(../images/main-image-1.png);
    background-size: cover;
    position: relative;
    &__action {
      background: white;
      width: 87px;
      height: 79px;
      text-align: center;
      position: absolute;
      bottom: 0;
      & p {
        position: relative;
        top: calc(50% - 20px);
      }
      &:hover p {
        color: $contrast;
        transform: scale(1.2);
      }
      &--previous {
        right: 87px;
      }
      &--next {
        right: 0;
      }
    }
  }
  // .header__bottom {
  //   width: 100%;
  //   display: flex;
  //   flex-flow: row wrap;

  // }
}
