.header {
  height: 100vh;
  display: grid;
  grid-template-columns: 5fr minmax(240px, 32fr) 45fr 13fr 5fr;
  grid-template-rows: 200px 1fr;
  grid-column-gap: 5.6rem;
  grid-template-areas:
    ". logo nav config ."
    ". title slider slider slider";
  @media (max-width: 700px) {
    grid-template-rows: 100px 100px 1fr;
    grid-template-areas:
      ". logo config config ."
      ". nav nav nav ."
      ". title slider slider slider";
  }

  &__logo {
    align-self: center;
    grid-area: logo;
  }

  &__nav {
    align-self: center;
    grid-area: nav;

    & ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 0;
      & li {
        display: inline-block;
        @include fontSize(22);
        color: #333333;
        & a {
          text-decoration: none;

          @extend li;
          &.active {
            color: #888888;
            border-bottom: 2px solid $contrast;
          }
        }
      }
    }
  }

  &__config {
    align-self: center;
    grid-area: config;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    &__lang {
      flex-basis: 1;

      & ul {
        display: none;
      }
    }

    &__utilities {
      flex-basis: 100px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-self: center;
      padding: 0;

      & li {
        display: inline-block;
      }
    }
  }
  &__title {
    grid-area: title;
    display: flex;
    justify-content: flex-start;

    &__spacer {
      flex-basis: 160px;
      flex-shrink: 2;
    }
    &__wrap {
      max-width: 407px;
      flex-basis: minmax(240px 1fr);
      transition: 0.5s;
      // @media (max-width: 1496px) {
      //   max-width: 300px;
      // }
    }
  }

  &__slider {
    grid-area: slider;
    flex-basis: 2;
    background: url(../images/main-image-1.png);
    background-size: cover;
  }
  // .header__bottom {
  //   width: 100%;
  //   display: flex;
  //   flex-flow: row wrap;

  // }
}
