header {
  height: 100vh;
  display: grid;
  grid-template-rows: 200px auto;

  .header-top {
    background: red;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    grid-template-areas: ". logo nav config .";

    &-logo {
      grid-area: logo;
    }

    &-nav {
      grid-area: nav;
      & ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }
    }

    &-config {
      grid-area: config;
    }
  }

  .header-bottom {
    display: flex;
    flex-flow: row wrap;
    &-title {
      background: green;
    }
    &-slider {
      background: url(../images/main-image-1.png);
    }
  }
}
