* {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 .header__title__wrap__view-more span,
.header__nav__list__shop__dropdown__wrapper__item span {
  font-family: "Montserrat", sans-serif;
}
h1 {
  @include fontSize(75);
  margin: 0;
  color: $primary;
  z-index: 10;
  position: relative;
}

h2 {
  @include fontSize(30);
  color: $primary;
}

h3 {
  font-size: 26px;
  font-weight: 400;
}
h3 {
  @include fontSize(28);
  color: $secondary;
}
h4 {
  @include fontSize(24);
  color: $secondary;
}
h5 {
  @include fontSize(22);
  color: $primary;
}
h5 {
  @include fontSize(22);
  color: $primary;
}
h6 {
  @include fontSize(18);
  color: $primary;
  margin: 1rem 0;
  & > .secondary {
    color: $secondary;
    @include fontSize(15);
    text-decoration: line-through;
  }
}
p {
  @include fontSize(16);
  color: #888888;
  font-weight: 400;
  & .currency {
    color: $primary;
    @include fontSize(18);
  }
}
.header__config__lang span,
.header__config__lang svg,
.header__config__utilities div,
.header__config__utilities div li {
  @include fontSize(16);
  @extend p;
  @extend h5;
}
.contrast {
  color: $contrast;
  font-size: inherit;
}
.secondary {
  color: $secondary;
  font-size: inherit;
}
//  {
//   font-size: 20px;
//   line-height: 1.4;
//   border: solid 1px $pink;
//   @include colors($pink, $white);
//   &--large,
//   &--small {
//     color: $grey;
//   }
//   &--large {
//     font-size: 26px;
//   }
//   &--small {
//     font-weight: lighter;
//     line-height: 1.6;
//     font-size: 12px;
//   }
// }
